@font-face {
    font-family: oggFont;
    src: url(ogg-font/Ogg-Regular.ttf);
    font-weight: normal;
  }
/*
@font-face {
    font-family: oggFont;
    src: url(ogg-font/Ogg-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: oggFont;
    src: url(ogg-font/Ogg-Light.ttf);
    font-weight: light;
}*/

.App {
    height: 100vh;
    font-family: oggFont, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.loop {
    background:
        linear-gradient(90deg, #000 50%, transparent 0) repeat-x,
        linear-gradient(90deg, #000 50%, transparent 0) repeat-x,
        linear-gradient(0deg, #000 50%, transparent 0) repeat-y,
        linear-gradient(0deg, #000 50%, transparent 0) repeat-y;
    background-size: 28px 1px, 28px 1px, 1px 28px, 1px 28px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .4s infinite linear;
    animation-play-state: paused; /* Add this line to pause the animation initially */
}
  
.loop:hover {
    animation-play-state: running; /* Change the animation state to running on hover */
} 
@keyframes linearGradientMove {
    100% {
        background-position: 28px 0, -28px 100%, 0 -28px, 100% 28px;
    }
}

.poll {
    background: 
        repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px) repeat-x,
        repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px) repeat-x;
    background-position: 0 0,0 100%;
    background-size: 100% 12px,100% 12px;
    
}

.zoom {
    background:
        linear-gradient(90deg, #000 50%, transparent 0) repeat-x,
        linear-gradient(90deg, #000 50%, transparent 0) repeat-x,
        linear-gradient(90deg, #000 50%, transparent 0) repeat-x;
    background-size: 28px 1px, 28px 1px, 28px 1px, 28px 1px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .8s infinite linear;
}

.boom {
    background-image: 
        repeating-linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),
        repeating-linear-gradient(90deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),
        repeating-linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),
        repeating-linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px);
    background-position: 0 0,0 100%,left 15px,right 15px;
    background-size: 100% 15px,100% 15px,15px calc(100% - 30px),15px calc(100% - 30px);
    background-repeat: no-repeat;
    box-shadow: -2px -8px 49px 10px rgba(0,0,0,.19);
}

.bounce-one {
    animation: 1s infinite alternate bounce-one;
    animation-timing-function: ease-in-out;
} 
@keyframes bounce-one{
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

.bounce-two {
    animation: 1s infinite alternate bounce-two;
    animation-timing-function: ease-in-out;
}
@keyframes bounce-two{
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(10%);
    }
}
  
.waves {
    background-image: repeating-linear-gradient(-45deg,#000,#000 1px,transparent 0,transparent 68px),repeating-linear-gradient(45deg,#000,#000 1px,transparent 0,transparent 68px),repeating-linear-gradient(-45deg,#000,#000 1px,transparent 0,transparent 71px),repeating-linear-gradient(45deg,#000,#000 1px,transparent 0,transparent 70px);
    background-position: 0 101%,0 101%,0 0,0 0;
    background-size: 93px 50px,93px 50px,100px 50px,100px 50px;
    background-repeat: repeat-x;
    animation: 2s infinite normal e;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes e{
    0% {
        background-position: 0 101%,0 101%,0 0,0 0;
    }
    100% {
        background-position: 93px 101%,93px 101%,100px 0,100px 0;
    }

}

.polp {
    writing-mode: vertical-lr;   
}

@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
}

.cars::-webkit-details-marker {
	display: none;
}

select option {
    height: 200px;
}

.sox {
    transition: width 0.5s ease;
}
  